In [6]:
def person():
    print("tushar")
person()

tushar

In [7]:
def school():
    a=int(input("enter the first value"))
    b=int(input("enter the second value"))
    print(a+b)

In [8]:
school()

enter the first value50
enter the second value50
100

In [1]:
def school(a,b=20):
    print(a+b)

In [2]:
a=20
school(a,b)

NameError: name 'b' is not defined

In [1]:
def mouse():
    a=3
    b=4
    c=a+b
    print(c)
    return c

In [2]:
def keys_value():
    l1=[]
    ab=mouse()
    for x in range(ab):
        print("data science...",x)
        l1.append(x)
    print(type(l1))
    return l1

In [3]:
def mobile():
    k1=keys_value()
    total=sum(k1)
    print("this is my total",total)

In [ ]:
# global details
details=[]
def textbook(n):
  b_price=[]
  for x in range(n):
    name=input("book name:")
    price=int(input("book price:"))
    details.append(name)
    details.append(":")
    details.append(price)
    b_price.append(price)
  return b_price

def amount():
  b_updated=[]
  am=textbook(3)
  for x in am:
    x=x+0
    b_updated.append(x)
  total=sum(b_updated)
  gst=total*18/100
  g_total=gst+total
  details.append("sub total:")
  details.append(total)
  details.append("gst ammount:")
  details.append(gst)
  details.append("final bill:")
  details.append(g_total)
  print("final details of customer:",details)

In [3]:
# global details
details=[]
def textbook(n):
  b_price=[]
  for x in range(n):
    name=input("book name:")
    price=int(input("book price:"))
    details.append(name)
    details.append(":")
    details.append(price)
    b_price.append(price)
  return b_price
am=textbook(int(input("items:")))
c=[]
for x in am:
 c.append(x)
 total=sum(c)
gst=total*18/100
g_total=gst+total
details.append("total: ")
details.append(total)
details.append("gst ammount: ")
details.append(gst)
details.append("final bill: ")
details.append(g_total)
print("final details: ",details)

items:2
book name:s
book price:100
book name:j
book price:100
final details:  ['s', ':', 100, 'j', ':', 100, 'total: ', 200, 'gst ammount: ', 36.0, 'final bill: ', 236.0]

In [20]:
a=["pune","mumbai","pune","nagpur"]
a.remove("mumbai")
a.remove("pune")
a

['pune', 'nagpur']

In [ ]:
a={"pune","mumbai","pune","nagpur"}
b={"solapur",""}

In [35]:
name=["tushar","rohit","komal","kiran","shradha","priyanka","saurabh","sonali"]
boys=["tushar","rohit","kiran"]
girls=["komal","priyanka","sonali"]
boys_hostel=[]
girls_hostel=[]
for x in name:
    if x in boys:
        boys_hostel.append(x)
    elif x in girls:
        girls_hostel.append(x)
print("boys hostel=",boys_hostel)
print("girls hostel=",girls_hostel)

boys hostel= ['tushar', 'rohit', 'kiran']
girls hostel= ['komal', 'priyanka', 'sonali']

In [38]:
name=["tushar","rohit","komal","kiran","shradha","priyanka","saurabh","sonali"]
boys=["tushar","rohit","kiran"]
girls=["komal","priyanka","sonali"]
boys_hostel=[]
girls_hostel=[]
others_1=[]
for x in name:
    if x in boys:
        boys_hostel.append(x)
    elif x in girls:
        girls_hostel.append(x)
    elif x in name:
        others_1.append(x)
print("boys hostel=",boys_hostel)
print("girls hostel=",girls_hostel)
print("others=",others_1)

boys hostel= ['tushar', 'rohit', 'kiran']
girls hostel= ['komal', 'priyanka', 'sonali']
others= ['shradha', 'saurabh']

In [5]:
name=["tushar","rohit","komal","kiran","shradha","priyanka","saurabh","sonali"]
boys=["tushar","rohit","kiran"]
# girls=["rohit","priyanka","kiran"]
boys_hostel=[]
girls_hostel=[]
others_1=[]
for x in name:
    if x in boys:
        boys_hostel.append(x)
print("boys hostel= ",boys_hostel)

boys hostel=  ['tushar', 'rohit', 'kiran']